{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

    <h1>{{book.book_name}}</h1>

    <p>
        {{forms.destroy_button("#{base.path}/book/#{book.id}/destroy")}}
        <a href="{{base_path}}/book/{{book.id}}/edit" class="btn btn-default">Muokkaa</a>
    </p>


    <ul>
        <li><strong>Kirjailija</strong> {{book.writer}} </li>
        <li><strong>Kustantantamo</strong> {{book.publisher}} </li>
        <li><strong>Julkaisuvuosi</strong> {{book.published}}</li>
        <li><strong>Genre</strong> {{book.genre}} </li>

    </ul>

{% endblock %}