{% extends "base.html" %}
{% block content %}

    <h1>{{book.book_name}}</h1>

    <p>
        <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/book/{{book.id}}/edit_book" class="btn btn-default">Muokkaa</a>
    </p>


    <ul>
        <li><strong>Kirjailija</strong> {{book.writer}} </li>
        <li><strong>Kustantantamo</strong> {{book.publisher}} </li>
        <li><strong>Julkaisuvuosi</strong> {{book.published}}</li>
        <li><strong>Genre</strong> {{book.genre}} </li>

    </ul>

{% endblock %}