{% extends "base.html" %}
{% block content %}

    <h1>Torakat</h1>

    <p>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-warning">Muokkaa</a>
    </p>

    <ul>
        <li><strong>Kirjailija:   </strong>Jo Nesbo</li>
        <li><strong>Kustantamo:   </strong>Bon</li>
        <li><strong>Julkaisuvuosi:</strong>1998</li>
        <li><strong>Genre:        </strong>Dekkari</li>
        <li><strong>Status:       </strong><label class="label label-success">Luettu</label></li>
        <li><strong></strong></li>
    </ul>

{% endblock %}