{% extends "base.html" %}
{% block content %}

    <h2>Kaikki Käyttäjät</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Käyttäjänimi</th>
                <th>Kirjojen määrä</th>
            </tr>
        </thead>

        <tbody>
            {% for reader in readers %}
            <tr>
                <td>{{reader.id}}</td>
                <td>{{reader.reader_name}}</td>
                <td>{{bookCount.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}