{% extends "base.html" %}
{% block content %}

    <div class="alert alert-success">
        {{message}}
    </div>

    <center>
        <div class="page-header">
            <h1>Käyttö vaatii kirjautumisen.</h1>
        </div>

        <div class="login">
            <form method="post" action="{{base_path}}/login">
                <input type="text" placeholder="username" name="username"><br>
                <input type="password" placeholder="password" name="password"><br>
                <button class="btn btn-primary" type="submit">Kirjaudu sisään</button>
            </form>
            <a href="{{base_path}}/register">Rekisteröidy käyttäjäksi</a>
        </div>

    </center>




{% endblock %}