{% extends "base.html" %}

{% block content %}
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                {% for err in error %}
                    <li>{{err}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <center>
        <form class="form-signin" method="post" action="{{base_path}}/register">
            <h2 class="form-signin-heading">Luo uusi käyttäjä</h2>
            <label class="sr-only">Username</label>
            <input type="text" name="reader_name" class="form-control" placeholder="Käyttäjänimi" required="" autofocus="">
            <label class="sr-only">Password</label>
            <input type="password" name="reader_password" class="form-control" placeholder="Salasana" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Luo uusi käyttäjä</button>
        </form>
    </center>


{% endblock %}