{% extends "base.html" %}
{% block content %}

    <h1>{{reader.reader_name}}</h1>

    <form method="get" action="{{base_path}}/reader/{{reader.id}}/edit">
        <button type="submit" class="btn btn-default">Muokkaa</button>
    </form>

    <ul>
        <li><strong>Käyttäjän nimimerkki: </strong> {{reader.reader_name}} </li>
        <li><strong>Käyttäjän salasana</strong> {{reader.reader_password}} </li>
        <li><strong>Käyttäjän kirjojen määrä: </strong> työn alla </li>
    </ul>

{% endblock %}